<body>
    <link rel="stylesheet" href="/css/profile.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div class="title">
        <header>
            <h3>
                Σύστημα Διαχείρησης Δημοσίων Κτηρίων
            </h3>
        </header>
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li class="buildings">
                    <a href="./buildings">Κτήρια</a>
                </li>
                <li class="problems">
                    <a href="./problemReports">Αναφορά Προβλημάτων</a>
                </li>
                <li class="map">
                    <a href="./map">Χάρτης</a>
                </li>
                <li class="profile">
                    <a href="./profile">Προφίλ</a>
                </li>
            </ul>
        </div>
        <div class="elements">
            <form method="get" action="/logIn">
                <ul class="profileAttributes">
                    <li id="b1">
                        <h4>Όνομα : {{fname}} </h4>
                    </li>
                    <li id="b2">
                        <h4>Επίθετο : {{lname}} </h4>
                    </li>
                    <li id="b3">
                        <h4>Φορέας : {{sector}}</h4>
                    </li>
                    <li id="b4">
                        <h4>Ιδιότητα : {{domain}} </h4>
                    </li>
                    <li id="b5">
                        <h4>Email : {{email}}</h4>
                    </li>
                    <li id="b6">
                        <h4>Phone : {{phone}}</h4>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>